body, html {
/* 	min-width:460px; */
	min-height:100%;
	background:#FFF;
	font-family:"Open Sans", Helvetica, Arial, sans-serif;
	font-weight:400; 
}
body {
	position:relative;
}

h1, h2, h3, h4, h5, h6 {
	margin:0 0 0.3em 0;
	font-weight:800;
}
h1 {
	font-size:3em;
}
h2 {
	font-size:2.25em;
}
h3 {
	font-size:1.5em;
}
h4 {
	font-size:1.125em;
}
h5 {
	font-size:1.125em;
}
h6 {
	font-size:1.125em;
}
a,
a:visited {
	padding:0;
	color:#40372F;
	text-decoration:none;
}
a:hover {
	background:#F1411B;
	color:#FFF;
	text-decoration:none;
}

:focus {
	outline:2px dotted #F1411B;
}

/* */
#topnav {
	background:#40372F;
	color:#FFF;
	box-shadow:0 2px 16px rgba(0,0,0,0.4);
	position:relative;
	z-index:1000;
}
#topnav nav {
	max-width:1280px;
	margin:0 auto;
	position:relative;
}
#topnav a,
#topnav a:visited {
	padding:1em;
	color:#FFF;
	display:block;
	float:left;
}
#topnav a:hover {
	background:#FFF;
	color:#40372F;
}
#topnav a.home {
	padding:1em 1em 1em 2.8em;
}
#topnav a.home img {
	max-width:1.5em;
	position:absolute;
	left:1em;
}

#hero {
	background:#ED9C00 url('../imgs/bg_hero2.png') top left;
	overflow:hidden;
	position:relative;
}
#hero #logobg {
	position:absolute;
	top:-6em;
	left:-11em;
	z-index:2;
}
#hero .inner {
	max-width:80em;
	margin:0 auto;
	overflow:visible;
	position:relative;
	z-index:3;
}

#hero .col1 {
	width:60%;
	float:left;
}

#hero .col2 {
	width:40%;
	float:left;
}

#title {
	padding:2.5em; /* 40 / 16 = 2.5 */
	color:#40372F;
	font-family:"Quicksand";
}
#title .logo {
	margin: 0 0.625em 0 0;
	float:left;
}
#title .verbage {
	float:left;
}
#title .verbage .name {
	font-size:3em;
}

#info {
/* 	max-width:28em; */
/* 	margin:0 0 2.5em 9.5em; */
	padding:1.4em;
	background:#FFF;
	border-radius:1em;
	color:#805233;
	font-size:0.8em;
}
#info .join {
	padding:0 0 0 2em;
	border-left:1px solid #DDD;
	float:left;
}
#info .join p.joinuslink {
	margin:0.2em 0 0.2em 0;
	font-size:1.4em;
}
#info .partners {
	float:left;
	margin:0 2em 0 0;
}

#hero-small {
	display:none;
}


#meetup {
/* 	max-width:16em; */
	margin:2.5em auto;
	padding:1.2em;
	background:rgba(255,255,255,0.5);
	border-radius:1em;
	color:#40372F;
	font-family:"Quicksand";
	font-size:1.2em;
	font-weight:700;
}
#meetup p {
	
}


#content {
	background:#46B1B8;
	border-top:0.6em solid #40372F;
}
#content .inner {
	max-width:79.4em;
	margin:0 auto;
	border-left:0.6em solid #40372F;
	clear:both;
}

#content .col1 {
	width:59.6%;
	background:#FFF;
	float:left;
}
#content .col1 hr {
	margin:0 2em;
	border:none;
	border-bottom:1px solid #A2D8DB;
}

#content .col2 {
	width:40.4%;
	min-height:100%;
	background:#EEE;
	float:left;
}

.arty-brief {
	margin:2.5em;
}
.arty-brief h1 {
	margin:0;
	color:#40372F;
	font-family:"Quicksand";
	font-size:2em;
	font-weight:700;
}
.arty-brief p {
	line-height:1.6em;
}
.arty-brief p.byline {
	margin:0 0 1em 0;
	color:#805233;
	font-size:0.9em;
}

#sponsors {
	margin:2.5em;
}
#sponsors h2 {
	color:#40372F;
	font-family:"Quicksand";
	font-size:1.5em;
	font-weight:700;
}
#sponsors .btn-green,
#sponsors .btn-red {
	width:50%;
	margin:0 auto;
}
#sponsors .sponsor {
	margin:1em 0;
	text-align:center;
}
#sponsors .sponsor a {
	margin:0 auto;
	display:block;
}
#sponsors .sponsor a:hover {
	background:transparent;
}

footer {
	min-height:6em;
	padding:2em;
	background:#40372F;
	color:#FFF;
}

/* universal */
a.btn-red {
	padding:1em;
	background:#a53917;
	background: -moz-linear-gradient(top, #e7401a 0%, #a53917 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e7401a), color-stop(100%,#a53917)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e7401a 0%,#a53917 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e7401a 0%,#a53917 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e7401a 0%,#a53917 100%); /* IE10+ */
	background: linear-gradient(to bottom, #e7401a 0%,#a53917 100%); /* W3C */
	border:0.2em solid #FFF;
	border-radius:2em;
	box-shadow:0 2px 8px rgba(0,0,0,0.4);
	color:#FFF;
	display:block;
	font-family:"Quicksand";
	font-weight:700;
	text-align:center;
}
a.btn-red:hover {
	background:#e7401a;
}
a.btn-green {
	padding:1em;
	background:#62a908;
	background: -moz-linear-gradient(top, #88bd09 0%, #62a908 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#88bd09), color-stop(100%,#62a908)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #88bd09 0%,#62a908 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #88bd09 0%,#62a908 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #88bd09 0%,#62a908 100%); /* IE10+ */
	background: linear-gradient(to bottom, #88bd09 0%,#62a908 100%); /* W3C */
	border:0.2em solid #FFF;
	border-radius:2em;
	box-shadow:0 2px 8px rgba(0,0,0,0.4);
	color:#FFF;
	display:block;
	font-family:"Quicksand";
	font-weight:700;
	text-align:center;
}
a.btn-green:hover {
	background:#88bd09;
}


.clear {
	content:'';
	display:block;
	clear:both;
}
.font-opensans {
	font-family:"Open Sans";
	font-weight:400;
}

/*** DEBUG ***/
#debug {
	width:150px;
	padding:10px;
	position:fixed;
	bottom:0;
	right:0;
	background:#EEE;
	color:#636363;
	font-size:0.8em;
}