/**
 * Specifc CSS for the open twin cities website.
 */

html {
  min-height:100%;
  background:#FFF;
}

/*
 * The Grid
 */
.row,
.contain-to-grid .top-bar{
  max-width: 79.4rem;
}

/**
 *  Set Text and Font
 */

html,
body,
.top-bar .name h1,
.top-bar-section ul li>a{
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  font-weight:400; 
}

body {
  background: #46B1B8;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin:0 0 0.3em 0;
  font-weight: 700;
  color: #40372F;
  font-family: "Quicksand";
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:hover, h2 a:hover, h3 a:hover,
h4 a:hover, h5 a:hover, h6 a:hover{
  color: #40372F;
}

h1 {
  font-size:3em;
}

h2 {
  font-size:2em;
}

h3 {
  font-size:1.5em;
}

h4 {
  font-size:1.125em;
}

h5 {
  font-size:1.125em;
}

h6 {
  font-size:1.125em;
}

div.highlight{
  border: 1px solid #d8d8d8;
  background: #f2f2f2;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
}

/**
 * Buttons
 */

.button{
  color: #FFF;
  border: 0.2em solid #FFF;
  font-family: "Quicksand";
  font-weight: 700 !important;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.red.button{
  background: linear-gradient(to bottom, #e7401a 0%,#a53917 100%);
  transition: none;
}

.red.button:hover{
  background: #e7401a;
}

.green.button{
  background: linear-gradient(to bottom, #88bd09 0%,#62a908 100%);
  transition: none;
}

.green.button:hover{
  background: #88bd09;
}

.button.round{
  border-radius: 2em;
}

/**
 * Other Clickables
 **/

dl.toggling dt{
  cursor: pointer;
}


dl.toggling dt * i{
  margin-left: 0.5em;
  font-size: 0.8em;
}
/**
 * Combine foundation icons
 */
[class*="social foundicon-"]:before {
  font-family: "SocialFoundicons";
}
[class*="accessibility foundicon-"]:before {
  font-family: "AccessibilityFoundicons";
}
[class*="general foundicon-"]:before {
  font-family: "GeneralFoundicons";
}

.centerAlign{
  text-align: center;
}

.rightAlign{
  text-align: right;
  float:right;
}

/**
 * Images
 */
#content img,
.post-excerpt img{
  margin: 1rem auto;
  display: block;
}

/**
 * Hero Section
 */

.hero {
  background: orange;
  background: url(/images/design/hero_blocks.png) top left;
  border-bottom: 0.6rem solid #40372F;
}

.logo-bg{
  background-image: url(/images/logos/otc/logo_bg_512.png);
  background-repeat: no-repeat;
  background-position: -180px -50px;
  background-attachment: fixed;
}

.hero .primary-column{
  min-height: 114px;
}

#title {
  padding: 2.5em 1.5em;
}

#title h1,
#title p{
  color: #40372F;
}

#title .logo {
  margin: 0 0.625em 0 0;
  float: left;
}

#title .verbage {
  float: left;
}

#title .verbage .name {
  font-family: "Quicksand";
  font-size: 3em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

#title .verbage p{
  margin: 0;
}

#home_hero #info{
  display: block;
}

#info {
  display: none;
  background: #FFF;
  border-radius: 1em;
  margin: 0 0 2.5em 9.5em;
  padding: 1.4em;
  color: #805233;
  font-size: 0.8em;
  max-width: 28em;
  box-sizing: content-box;
}

#info p{
  line-height: 1;
  padding: .4em 0 0;
  margin-bottom: 0;
}

#info p,
#info ul{
  font-size: 1em;
}

#info img{
  width: 160px;
}

#info .newsletter{
  margin: 0 0 0.8rem;
}

#info .newsletter .email,
#info .newsletter .submit_button{
  padding: 0;
  margin: 0;
}

#info .newsletter .email{
  display: inline;
  min-width: 200px;
  width: 75%;
  padding: 0 0.5rem;
}

#info .newsletter .submit_button{
  display: inline-block;
  width: 24%;
  text-align: center;
}

#info .newsletter form{
  margin: 0;
}

#info .newsletter .button{
  box-shadow: none;
  margin-bottom: 0;
  padding:0 0.2rem;
  height: 2.3125rem; 
  border: none;
  background-color: #40372F;
  width: 100%;
}

#info .join{
  padding: 0.4rem 0 0;
  margin-top: 0.4rem;
  border-top: 1px solid #DDD;
}

.join ul{
  margin-bottom:0;
  text-align: center;
}

.join ul > li {
  line-height:1em;
  margin: 0.2em 0.5em;
  font-size: 2.5em;
  display: inline-block;
}

.join ul > li > a {
  color: #40372F;
}

.join ul > li:hover > a {
  background: #F1410B;
  color: #FFF;
}

#info .meetup{
  display:none;
}

.meetup {
  border-radius: 25px;
  margin-top:2.5em;
  margin-bottom: 2.5em;
  padding: 1.25em;
  padding-bottom: 0;
  background: rgba(255,255,255,0.5);
}

.meetup p {
  font-family: 'Quicksand';
  font-weight: bold;
  line-height: 1;
}

.meetup .time{
  font-size: 1.2em;
  margin-bottom: 0;
}

.meetup .day {
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom:0;
}

.meetup .place{
  font-size: 1.5em;
  margin-bottom: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.meetup .place a{
  color: #805233;
}

.meetup .button {
  width: 100%;
  margin-top:.5em;
  font-size: 1.2em;
}

/**
 * Content Containing Row
 */

#content-container{
  background: transparent;
  border-left: 0.6rem solid #40372F;
}

/**
 * Primary Content
 */ 

div.content{
  background: #FFF;
  padding: 1.5625rem;
}

/**
 * Sidebar
 */

div.sidebar{
  padding: 0;
  margin: 0;
}

div.sidebar .container{
  background: #EEE;
  padding: 1.5625rem;
}
.support-options{
  text-align: center;
}

.support-options .button{
  max-width: 300px;
}

.support-options .button:last-child{
  margin-bottom: 0;
}

/**
 * Footer
 */
div.footer {
  background: #40372F;
  color: white;
}

p.footer {
  margin-top: 1em;
  text-align: center;
}

p.footer img{
  margin-right: 1rem;
  margin-left: 1rem;
}

#socialColumn{
  padding-left: 100px;
}

/**
 * Navigation Menu
 */

.top-bar{
  box-shadow: 0 2px 16px rgba(0,0,0,0.4);
}

.top-bar .name h1 a,
.top-bar-section ul li>a {
  font-size: 0.9rem;
}

.top-bar .name h1 a img{
  max-width: 1.5rem;
}

.top-bar .name h1 a:hover,
.top-bar-section li:not(.has-form) a:not(.button):hover{
  background: #FFF;
  color: #40372F;
}

/**
 * Posts
 */

.post-title{
  margin: 0;
}

.post-byline{
  margin: 0 0 0 0;
}

/**
 * Posts List
 */

.post-list li{
  border-bottom: 1px solid #A2D8DB;
  margin: 1em;
}

.post-list .post-byline{
  margin: 0 0 0 0;
  color: #805233;
  font-size: 0.9em;
}

.post-list .post-byline + .post-excerpt{
  margin-top: 1em;
}



/**
 * Projects
 */

.project-panels .panel {
  margin-top: 24px;
}


.project-meta{
  margin-bottom: 0px;
}

/**
 * Sponsors
 */

.partners-list li, .sponsors-list li {
  margin-top: 2em;
}

.sponsors-list li img{
  max-width: 250px;
}

.sponsorLogo{
  padding-bottom: 20px;
  padding-top: 20px;
}

.sponsor{
  vertical-align: top;
}

.sponsor img{
  margin: 15px;
}

.gold.sponsor{
  padding: 1em;
}

.silver.sponsor{
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.supporter.sponsor{
  width: 265px; 
  display: inline-block;
  text-align: center;
}

.supporter.sponsor img{
  max-width: 235px;
  max-height: 100px;
}

/* Large */
@media only screen and (min-width: 64em){
  #meetup{
    font-size: 1.2em;
  }
}

/* Medium-Large */
@media only screen and (max-width: 53.75em){
  #info{
    display: block;
    max-width: none;
    background: rgba(255,255,255,0.5);
  }

  #home_hero #info{
    background: #FFF;
  }

  #info .partners,
  #info .join{
    float: none;
    margin: 0 0 1em;
    padding: 0;
    border: none;
    text-align: center;
  }

  #info .partner{
    display: inline-block;
    text-align: left;;
    vertical-align: top;
    margin: 0 2em 1em 0;
  }


  #info .join ul{
    list-style-type: none;
    border-top: 1px solid #ecebea;
    border-bottom: 1px solid #ecebea;
    margin: 0.5em 0;
    padding: 0.5em 0;
  }

  #info .join ul > li{
    font-size: 2.5em;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    display: inline-block;
    margin: 0.6em 0.2em;
  }

  #info .join ul > li > a{
    padding: 0.3em;
    text-decoration: underline;
  }

  #info .meetup{
    display: block;
    clear: both;
    margin: 0;
    border-radius: 0;
    background: none;
    text-align: center;
  }

  #info .meetup a{
    margin-bottom: 0.5em;
    max-width: 50%;
  }

  .hero .primary-column{
    width: 100%;
  }

  .meetup-column{
    display: none;
  }

}

/* Medium and Large */
@media only screen and (min-width: 40.063em){
  .top-bar{
    height: auto;
  }
}

/* Small and Medium */

@media only screen and (max-width: 64em){
  #title{
    padding: 1.5em 0.5em;
  }
  #info{
    padding: 1.25em;
    margin: 0 2em 2em 5em;
  }
  .meetup{
    font-size: 1em;
  }
}

/* Small */

@media only screen and (max-width: 40.063em){
  .top-bar .name h1 a{
    width: auto;
  }

  #title{
    font-size: 0.8em;
  }
  #info{
    margin: 0 2em 2em;
  }

  .post-list li{
    margin: 0.5em;
  }
}

@media only screen and (max-width: 31.25em){
  #title{
    text-align: center;
  }

  #title .logo{
    display: none;
  }

  #title .verbage{
    float: none;
  }

  #info .newsletter .email,
  #info .newsletter .submit_button{
    width: 100%;
    text-align: center;
    display: block;
    min-width: 0;
  }

  #info .newsletter .email{
    margin-bottom: 0.5rem;
  }

  #info .meetup a{
    max-width: none;
  }

  .silver.sponsor{
    width: 100%;
  }
}

@media only screen and (max-width: 25em){
  #title{
    font-size: 0.6em;
  }

  #title .name{
    display: none;
  }
}
