/**
 * Specifc CSS for the open twin cities website.
 */

/**
 * Combine foundation icons
 */
[class*="social foundicon-"]:before {
  font-family: "SocialFoundicons";
}
[class*="accessibility foundicon-"]:before {
  font-family: "AccessibilityFoundicons";
}
[class*="general foundicon-"]:before {
  font-family: "GeneralFoundicons";
}


/**
 * Logo and title
 */
.title a {
  color: #41372E;
}

.logo {
  margin-top: 1em;
  max-width: 100%;
}

.centered{
  text-align: center;
}

.sponsorLogo{
  padding-bottom: 20px;
  padding-top: 20px;
}

.footer {
  text-align: right;
}

#nav {
  text-align: center;
}

#nav ul {
  list-style-type: none;
}

#nav ul li {
  display: inline;
  padding: 0px 15px;
}

/**
 * Projects
 */

.project-meta{
  margin-bottom: 0px;
}

/**
 * Sponsors
 */

.goldSponsor img{
  margin: 15px 0;
}

.silverSponsor {
}

.silverSponsor p{
}

.silverSponsor img{
  margin: 15px;
}

.supporterSponsor{
  text-align: center;
}

.supporterSponsor img{
  max-width: 235px;
  max-height: 100px;
}
