/**
 * Specifc CSS for the open twin cities website.
 */

html {
  min-height:100%;
  background:#FFF;
}

/*
 * The Grid
 */
.row,
.contain-to-grid .top-bar{
  max-width: 79.4rem;
}

/**
 *  Set Text and Font
 */

html,
body,
h1, h2, h3, h4, h5, h6,
.top-bar-section ul li>a{
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  font-weight:400; 
}

body {
  background: #46B1B8;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
	margin:0 0 0.3em 0;
	font-weight:800;
}
h1 {
	font-size:3em;
}
h2 {
	font-size:2em;
}
h3 {
	font-size:1.5em;
}
h4 {
	font-size:1.125em;
}
h5 {
	font-size:1.125em;
}
h6 {
	font-size:1.125em;
}

/**
 * Buttons
 */

.button{
  color: #FFF;
  border: 0.2em solid #FFF;
  font-family: "Quicksand";
  font-weight: 700 !important;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.red.button{
  background: linear-gradient(to bottom, #e7401a 0%,#a53917 100%);
  transition: none;
}

.red.button:hover{
  background: #e7401a;
}

.green.button{
  background: linear-gradient(to bottom, #88bd09 0%,#62a908 100%);
  transition: none;
}

.green.button:hover{
  background: #88bd09;
}

.button.round{
  border-radius: 2em;
}

/**
 * Combine foundation icons
 */
[class*="social foundicon-"]:before {
  font-family: "SocialFoundicons";
}
[class*="accessibility foundicon-"]:before {
  font-family: "AccessibilityFoundicons";
}
[class*="general foundicon-"]:before {
  font-family: "GeneralFoundicons";
}

.centerAlign{
  text-align: center;
}

.rightAlign{
  text-align: right;
  float:right;
}

/**
 * Hero Section
 */

#hero {
  background: orange;
  background-image: url(/images/logos/otc/logo_bg_512.png);
  background-repeat: no-repeat;
  background-position: -180px -25px;
  background-attachment: fixed;
  border-bottom: 0.6rem solid #40372F;
}


#title {
  padding: 2.5em 1.5em;
}

#title h1,
#title p{
  color: #40372F;
}

#title .logo {
  margin: 0 0.625em 0 0;
  float: left;
}

#title .verbage {
  float: left;
}

#title .verbage .name {
  font-family: "Quicksand";
  font-size: 3em;
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

#title .verbage p{
  margin: 0;
}

#info {
  background: #FFF;
  border-radius: 1em;
  margin: 0 0 2.5em 9.5em;
  padding: 1.4em;
  color: #805233;
  font-size: 0.8em;
  max-width: 28em;
  box-sizing: content-box;
}

#info p{
  line-height: 1;
  padding: .4em 0 0;
  margin-bottom: 0;
}

#info p,
#info ul{
  font-size: 1em;
}

#info img{
  width: 160px;
}

#info .partners{
  float: left;
  margin: 0 2em 0 0;
}

#info .join{
  padding: 0 0 0 2em;
  border-left: 1px solid #DDD;
  float: right;
}

.join ul{
  margin-bottom:0;
}

.join ul > li {
  line-height:1em;
  margin: 0.2em 0;
  font-size: 1.4em;
}

.join ul > li > a {
  color: #40372F;
}

.join ul > li:hover > a {
  background: #F1410B;
  color: #FFF;
}

#info .meetup{
  display:none;
}

.meetup {
  border-radius: 25px;
  margin-top:2.5em;
  padding: 1.25em;
  padding-bottom: 0;
  background: rgba(255,255,255,0.5);
}

.meetup p {
  font-family: 'Quicksand';
  font-weight: bold;
  line-height: 1;
}

.meetup .time{
  font-size: 1.2em;
  margin-bottom: 0;
}

.meetup .day {
  font-size: 2.5em;
  line-height: 1em;
  margin-bottom:0;
}

.meetup .place{
  font-size: 1.5em;
  margin-bottom: 0;
  padding-left: 1em;
  text-indent: -1em;
}

.meetup .place a{
  color: #805233;
}

.meetup .button {
  width: 100%;
  margin-top:.5em;
  font-size: 1.2em;
}

/**
 * Content Containing Row
 */

#content-container{
  background: transparent;
  border-left: 0.6rem solid #40372F;
}

/**
 * Primary Content
 */ 

div.content{
  background: #FFF;
  padding: 1.5625rem;
}

/**
 * Sidebar
 */

div.sidebar{
  background: #EEE;
  padding: 1.5625rem;
}

/**
 * Footer
 */
div.footer {
  background: #40372F;
  color: white;
}

p.footer {
  margin-top: 1em;
  text-align: right;
}

#socialColumn{
  padding-left: 100px;
}

/**
 * Navigation Menu
 */

.top-bar .name h1 a,
.top-bar-section ul li>a {
  font-size: 0.9rem;
}

.top-bar .name h1 a img{
  max-width: 1.5rem;
}

.top-bar .name h1 a:hover,
.top-bar-section li:not(.has-form) a:not(.button):hover{
  background: #FFF;
  color: #40372F;
}

/**
 * Posts list
 */

h3.post-title, h6.post-date {
  font-family: 'Quicksand';
  margin-bottom:5px;
}



/**
 * Projects
 */

.project-panels .panel {
  margin-top: 24px;
}


.project-meta{
  margin-bottom: 0px;
}

/**
 * Sponsors
 */

.partners-list li, .sponsors-list li {
  margin-top: 2em;
}

.sponsorLogo{
  padding-bottom: 20px;
  padding-top: 20px;
}

.goldSponsor img{
  margin: 15px 0;
}

.silverSponsor {
}

.silverSponsor p{
}

.silverSponsor img{
  margin: 15px;
}

.supporterSponsor{
  text-align: center;
}

.supporterSponsor img{
  max-width: 235px;
  max-height: 100px;
}

/* Large */
@media only screen and (min-width: 64em){
  #meetup{
    font-size: 1.2em;
  }
}

/* Medium-Large */
@media only screen and (max-width: 53.75em){
  #info{
    max-width: none;
  }

  #info .partners,
  #info .join{
    float: none;
    margin: 0 0 1em;
    padding: 0;
    border: none;
    text-align: center;
  }

  #info .partner{
    display: inline-block;
    text-align: left;;
    vertical-align: top;
    margin: 0 2em 1em 0;
  }


  #info .join ul{
    list-style-type: none;
    border-top: 1px solid #ecebea;
    border-bottom: 1px solid #ecebea;
    margin: 0.5em 0;
    padding: 0.5em 0;
  }

  #info .join ul > li{
    font-size: 1.2em;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    display: inline-block;
    margin: 0.6em 0.4em;
  }

  #info .join ul > li > a{
    padding: 0.4em;
    text-decoration: underline;
  }

  #info .meetup{
    display: block;
    clear: both;
    margin: 0;
    border-radius: 0;
    background: none;
    text-align: center;
  }

  #info .meetup a{
    margin-bottom: 0.5em;
    max-width: 50%;
  }

  #hero .primary-column{
    width: 100%;
  }

  .meetup-column{
    display: none;
  }

}

/* Medium and Large */
@media only screen and (min-width: 40.063em){
  .top-bar{
    height: auto;
  }
}

/* Small and Medium */

@media only screen and (max-width: 64em){
  #title{
    padding: 1.5em 0.5em;
  }
  #info{
    padding: 1.25em;
    margin: 0 2em 2em 5em;
  }
  .meetup{
    font-size: 1em;
  }
}

/* Small */

@media only screen and (max-width: 40.063em){
  .top-bar .name h1 a{
    width: auto;
  }

  #title{
    font-size: 0.8em;
  }
  #info{
    margin: 0 2em 2em;
  }
}

@media only screen and (max-width: 31.25em){
  #title{
    text-align: center;
  }

  #title .logo{
    display: none;
  }

  #title .verbage{
    float: none;
  }
}

@media only screen and (max-width: 25em){
  #title{
    font-size: 0.6em;
  }

  #title .name{
    display: none;
  }
}
