    <div id="topnav" class="contain-to-grid">
      {% include nav_menu.html %}
    </div>
    <div id="home_hero" class="hero">
      <div class="logo-bg">
        <div class="row">
          <div class="primary-column medium-8 columns">

            <div id="title" class="clearfix">
              <div class="logo">
                <img src="/images/logos/otc/otc-o64.png" alt="Open Twin Cities logo" />
              </div>
              <div class="verbage">
                <h1 class="name">Open Twin Cities</h1>
                <p class="font-opensans">Citizens driven to improve civic technology</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
