    <div id="topnav" class="contain-to-grid">
      {% include nav_menu.html %}
    </div>
    <div id="home_hero" class="hero">
      <div class="logo-bg">
        <div class="row">
          <div class="primary-column medium-8 columns">

            <div id="title" class="clearfix">
              <div class="logo">
                <img src="/images/logos/otc/otc-o64.png" alt="Open Twin Cities logo" />
              </div>
              <div class="verbage">
                <h1 class="name">Open Twin Cities</h1>
                <p class="font-opensans">Citizens driven to improve civic technology</p>
              </div>
            </div>

             <div id="info" class="clearfix">
              {% include mailchimp_signup.html %}
              <div class="join">
                <p>Join us on:</p>
                  {% include online_presence.html %}
              </div>
              <div class="meetup">
                <a href="https://www.meetup.com/OpenTwinCities/" class="red button round">Join our Meetup!</a>
              </div>
            </div>
          </div>
          <div class="meetup-column medium-4 columns">

            <div class="meetup">
              <p class="time">6:00pm <span style="color:#805233;">on every</span></p>
              <p class="day">1st Tuesday & 4th Thursday</p>
              <a href="https://www.meetup.com/OpenTwinCities/" class="red button round">Join our Meetup!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
