<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/"><img src="/images/logos/otc/otc-o32.png" alt="open twin cities logo" /> Open Twin Cities</a></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#">Menu</a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul>
      <li><a href="/about/">About</a></li>
      <li><a href="/get-started/">Get Started</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/sponsors/">Sponsors</a></li>
    </ul>
  </section>
</nav>
