<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a href="/"><img src="/images/logos/otc/otc-o32.png" alt="open twin cities logo" /> Open Twin Cities</a></h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#">Menu</a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul>
      <li class="has-dropdown">
        <a href="#">About</a>
        <ul class="dropdown">
          <li><a href="/mission/">Mission</a></li>
          <li><a href="/code-of-conduct/">Code of Conduct</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </li>
      <li><a href="/open-data-faq/">Open Data FAQ</a></li>
      <li><a href="/events/">Events</a></li>
      <li><a href="/posts/">Posts</a></li>
      <li><a href="/data/">Data</a></li>
      <li><a href="/projects/">Projects</a></li>
      <li><a href="/sponsors/">Sponsors</a></li>
    </ul>
  </section>
</nav>
