<ul class="no-bullet joinuslinks">
  <li><a href="https://groups.google.com/forum/#!forum/twin-cities-brigade" data-social-network='Google Group' data-social-action='visit'><i class="fi-torsos-all" title="Google Group"></i></a></li>
  <li><a href="https://otc-slackin.herokuapp.com/" data-social-network='Slack' data-social-action='visit'><i class="fab fa-slack" title="Slack"></i></a></li>
  <li><a href="https://github.com/opentwincities" data-social-network='GitHub' data-social-action='visit'><i class="fi-social-github" title="GitHub"></i></a></li>
</ul>
