<ul class="joinuslinks">
  <li><a href="https://groups.google.com/forum/#!forum/twin-cities-brigade">Google Groups</a></li>
  <li><a href="https://github.com/opentwincities">GitHub</a></li>
  <li><a href="https://twitter.com/OpenTwinCities">Twitter</a></li>
  <li><a href="https://www.facebook.com/OpenTwinCities">Facebook</a></li>
  <li><a href="https://plus.google.com/u/0/112909925725311528041/posts">Google+</a></li>
  <li><a href="http://www.flickr.com/groups/opentwincities/">Flickr</a></li>
  <li><a href="http://www.youtube.com/channel/UCiURU9MUrpRc0ScWtHDNKxg">YouTube</a></li>
</ul>
