<ul class="no-bullet joinuslinks">
  <li><a href="https://groups.google.com/forum/#!forum/twin-cities-brigade" data-social-network='Google Group' data-social-action='visit'><i class="fi-torsos-all" title="Google Group"></i></a></li>
  <li><a href="https://otc-slackin.azurewebsites.net/" data-social-network='Slack' data-social-action='visit'><i class="fa fa-slack" title="Slack"></i></a></li>
  <li><a href="https://github.com/opentwincities" data-social-network='GitHub' data-social-action='visit'><i class="fi-social-github" title="GitHub"></i></a></li>
  <li><a href="https://twitter.com/OpenTwinCities" data-social-network='Twitter' data-social-action='visit'><i class="fi-social-twitter" title="Twitter"></i></a></li>
  <li><a href="https://www.facebook.com/OpenTwinCities" data-social-network='Facebook' data-social-action='visit'><i class="fi-social-facebook" title="Facebook"></i></a></li>
</ul>
