    <div class="sidebar medium-4 columns">
      <div class="container">
        <h3>Sponsors</h3>
        <div class="support-options">
          <a class="green button round expand" href="https://givemn.org/project/Open-Twin-Cities">Donate!</a>
        </div>
        <div class="text-center">
          <ul class="no-bullet sponsors-list">
            <li>
              <a href="http://www.knightfoundation.org/" target="_blank"><img src="/images/logos/sponsors/knight_foundation_300.jpg"></a>
            </li>
            <li>
              <a href="http://www.startribune.com/" target="_blank"><img src="/images/logos/sponsors/startribune.png" style="width: 300px;"></a>
            </li>
            <li>
              <a href="http://www.devjam.com/" target="_blank"><img src="/images/logos/sponsors/devjam.png"></a>
            </li>
            <li>
              <a href="/sponsors/">See All Sponsors</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
