    <div class="sidebar medium-4 columns">
      <div class="container">
        <h3>Get started with...</h3>
        <div class="text-center">
          <a href="https://github.com/OpenTwinCities/otc-getting-started/blob/master/open-data.md" target="_blank" class="green button round">Open Data</a>
          <a href="https://github.com/OpenTwinCities/otc-getting-started/blob/master/open-software.md" target="_blank" class="green button round">Open Software</a>
          <a href="https://github.com/OpenTwinCities/otc-getting-started/blob/master/civic-engagement.md" target="_blank" class="green button round">Civic Engagement</a>
        </div>

        <div class="join">
          <h3>Join us on...</h3>
          {% include online_presence.html %}
        </div>
        <hr>
      </div>
    </div>
