    <div class="sidebar medium-4 columns">
      <div class="container">
        <div class="support-options">
          <a href="https://bit.ly/otc-donate" target="_blank"><img src="https://givemn.s3.amazonaws.com/237x131_DonateNow.png" alt="Open Twin Cities | GiveMN"></a>
          <!--<a class="green button round expand" href="https://givemn.org/project/Open-Twin-Cities">Donate!</a>-->
        </div>
        </br>
        <h3>Sponsors</h3>
        <div class="text-center">
          <ul class="no-bullet sponsors-list">
            <li>
              <a href="https://www.knightfoundation.org/" target="_blank"><img src="/images/logos/sponsors/knight_foundation_300.jpg"></a>
            </li>
            <li>
              <a href="https://codeforamerica.org/" target="_blank"><img src="/images/logos/sponsors/CfA_logo_300.png" width="200"></a>
            </li>
            <li>
              <a href="https://granicus.com/" target="_blank"><img src="/images/logos/sponsors/Granicus_logo.png"></a>
            </li>
            <li>
              <a href="/sponsors/">See All Sponsors</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
