    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>

    <title>{% if page.title %} {{ page.title }} | {% endif %} {{ site.name }}</title>
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}"/>
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}"/>

    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta name="twitter:url" content="{{ site.url }}{{ page.url }}"/>

    {% if page.path contains '_posts' %}
      <meta property="og:type" content="article"/>
      <meta property="article:author" content="https://www.facebook.com/OpenTwinCities"/>
      <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}"/>
      {% if page.categories %}
        {% for category in page.categories limit:1 %}
          <meta property="article:section" content="{{ category }}"/>
        {% endfor %}
      {% endif %}
      {% if page.tags %}
        {% for tag in page.tags %}
          <meta property="article:tag" content="{{ tag }}"/>
        {% endfor %}
      {% endif %}
    {% else %}
      <meta property="og:type" content="website"/>
    {% endif %}
    <link rel="publisher" href="https://plus.google.com/u/0/112909925725311528041/"/>

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}"/>
    <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}"/>
    <meta property="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html }}{% else %}{{ site.description | strip_html }}{% endif %}"/>

    <meta property="og:image" content="{% if page.social_image %}{{ page.social_image }}{% else %}{{ site.social_image }}{% endif %}"/>
    <meta property="twitter:image" content="{% if page.social_image %}{{ page.social_image }}{% else %}{{ site.social_image }}{% endif %}"/>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Quicksand:300,400,700"/>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/normalize.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/css/foundation.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/css/site.css"/>

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} Posts" href="{{ site.url }}feed.xml">
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} Events" href="{{ site.url }}events/feed.xml">
    
    <script src="http://cdnjs.cloudflare.com/ajax/libs/foundation/5.1.1/js/vendor/modernizr.min.js"></script>
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
