    <div id="topnav" class="contain-to-grid">
      {% include nav_menu.html %}
    </div>
    <div id="hero">
      <div class="row">
        <div class="medium-8 small-12 columns">

          <div id="title" class="clearfix">
            <div class="logo">
              <img src="/images/logos/otc/otc-o64.png" alt="Open Twin Cities logo" />
            </div>
            <div class="verbage">
              <h1 class="name">Open Twin Cities</h1>
              <p class="font-opensans">Citizens driven to improve civic technology.</p>
            </div>
          </div>

          <div id="info" class="large-8 medium-10 large-centered medium-centered columns clearfix">
            <div class="medium-8 columns partners">
              <h4>We're a</h4>
              <a href="http://brigade.codeforamerica.org/"><img src="/images/logos/partners/CfA_Brigade_logo.png" alt="Code for America logo" /></a>
              <h4>Partnered with</h4>
              <a href="http://e-democracy.org"><img src="/images/logos/partners/edem_logo.png" alt="E-Democracy.org logo" /></a>
            </div>                
            <div class="medium-4 columns join">
              <h4>Join us!</h4>
                {% include online_presence.html %}
            </div>     
          </div>
        </div>
        <div class="medium-4 small-12 columns">

          <div id="meetup">
            <h3>6:00pm <span style="color:#805233;">on every</span></h3>
            <h1>4th Tuesday</h1>
            <h3><a href="#nogo" style="color:#805233">@The Humphrey School!</a></h3>
            <a href="#nogo" class="button round" style="width:100%">Join our Meetup!</a>
          </div>

        </div>
      </div>
    </div>
