    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% if page.title %} {{ page.title }} | {% endif %} Open Twin Cities</title>
    <meta name="description" content="A group for civic hackers, innovative government employees, and concerned citizens for the Twin Cities (Minneapolis and Saint Paul) metro area.  Focusing, but not limited to, on creating a better citizen and government collaborative experience in the Twin Cities through technology.  Associated with the Code for America Brigade.">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{{site.baseurl}}css/libs/foundation/stylesheets/foundation.min.css">
    <link rel="stylesheet" href="{{site.baseurl}}css/libs/foundation/stylesheets/accessibility_foundicons.css">
    <link rel="stylesheet" href="{{site.baseurl}}css/libs/foundation/stylesheets/general_foundicons.css">
    <link rel="stylesheet" href="{{site.baseurl}}css/libs/foundation/stylesheets/social_foundicons.css">
    <!--[if lt IE 8]>
      <link rel="stylesheet" href="{{site.baseurl}}css/libs/foundation/stylesheets/accessibility_foundicons_ie7.css">
      <link rel="stylesheet" href="{{site.baseurl}}css/libs/foundation/stylesheets/general_foundicons_ie7.css">
      <link rel="stylesheet" href="{{site.baseurl}}css/libs/foundation/stylesheets/social_foundicons_ie7.css">
    <![endif]-->
    <link rel="stylesheet" href="{{site.baseurl}}css/site.css">
    
    
    <script src="{{site.baseurl}}js/libs/modernizr-2.6.2.min.js"></script>
    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
