    <div id="topnav" class="contain-to-grid">
      {% include nav_menu.html %}
    </div>
    <div id="hero">
      <div class="row">
        <div class="large-7 columns">

          <div id="title" class="clearfix">
            <div class="logo">
              <img src="/images/logos/otc/otc-o64.png" alt="Open Twin Cities logo" />
            </div>
            <div class="verbage">
              <h1 class="name">Open Twin Cities</h1>
              <p class="font-opensans">Citizens driven to improve civic technology.</p>
            </div>
          </div>

          <div id="info">
            <div class="fw">
              <div class="partners">
                <p>We're a</p>
                <a href="http://brigade.codeforamerica.org/"><img src="/images/logos/partners/CfA_Brigade_logo.png" alt="Code for America logo" /></a>
                <p>Partnered with</p>
                <a href="http://e-democracy.org"><img src="/images/logos/partners/edem_logo.png" alt="E-Democracy.org logo" /></a>
              </div>
              <div class="join">
                <p>Join us on:</p>
                  {% include online_presence.html %}
              </div>
              <div class="clear"></div>
            </div>
          </div>

        </div>
        <div class="large-5 columns">

          <div id="meetup">
            <p style="font-size:1.2em;">6:00pm <span style="color:#805233;">on every</span></p>
            <p style="font-size:2.5em;">4th Tuesday</p>
            <p><a href="#nogo" style="color:#805233;font-size:1.5em;">@FreeGeek!</a></p>
            <p><a class="btn-red" href="#nogo">Join our Meetup!</a></p>
          </div>

        </div>
      </div>
    </div>
