<div class="footer">
    <div class="row">
      <!-- <div class="twelve columns"> -->
      
      <p class="footer">We're a <a href="http://brigade.codeforamerica.org/" target="_blank"><img src="/images/logos/partners/CfA_Brigade_logo.png"/></a> partnered with <a href="http://e-democracy.org/" target="_blank"><img src="/images/logos/partners/edem_logo.png"/></a></p>
      <p class="footer">Logo and site design by <a href="http://www.timleisio.com/" target="_blank">Tim Leisio</a></p>
      <!-- </div> -->
    </div>
</div>
