<!DOCTYPE html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {% include std_head.html %}
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
    
    {% include std_header.html %}

    <div id="content-container" class="row">
      <div id="content" class="content medium-8 columns">
        <h2>{{ page.title }}</h2>
        <p><b>Date and Time:</b> {{ page.date | date: "%A, %B %d - %I:%M %p" }}</p>
        {% if page.venue_name or page.venue_location %}
        <p><b>Location:</b> {% if page.venue_name %}{{ page.venue_name }}{% endif %} {% if page.venue_location %} - {{ page.venue_location }} {% endif %} </p>
        {% endif %}
        {% if page.rsvp_url %}
        <p><b>RSVP:</b> <a href="{{ page.rsvp_url }}">Click Here</a></p>
        {% endif %}
        <hr/>
        {{ content }}

        {% if page.related_tag and site.tags[page.related_tag] %}
        <div>
          <h3>Related Posts</h3>
          <ul>
            {% for post in site.tags[page.related_tag] %}
            <li><a href="{{ post.url }}">{{post.title}}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      {% include right_sidebar.html %}
    </div>

    {% include std_footer.html %}

    {% include std_bottom_js.html %}
  </body>
</html>
