<!DOCTYPE html>
<!--[if lt IE 7]>    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>     <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>     <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    {% include std_head.html %}
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    {% include home_header.html %}

    <div id="content-container" class="row">
      <div id="content" class="content medium-8 columns">
        <h2 id="our-mission">Our mission</h2>
          <p>Open Twin Cities fosters an inclusive community of civic collaboration and champions open government and civic technology for positive social impact and civic engagement.  Open Twin Cities was part of the <a href="https://brigade.codeforamerica.org/">Code for America Brigade network</a> until that program ended in 2023.</p>

          <h2 id="what-we-do">What we do</h2>
          <p>We foster collaboration among technologists and community members, primarily through our Slack group.</p>

          <h2 id="code-of-conduct">Code of conduct</h2>
          <p>As part of the Code for America Brigade network, we adhere to <a href="https://codeforamerica.org/code-of-conduct/">Code for America’s code of conduct</a>.</p>

          <h2 id="contact">Contact</h2>
          <p>Have questions about Open Twin Cities, civic technology, open data, or open government?  Are you looking to write a story or start a project?  Reach out in our Slack group, or send a private email to:</p>

          <p>contact [at] opentwincities [dot] org</p>
      </div>
      {% include right_sidebar.html %}
    </div>


    {% include std_footer.html %}

    {% include std_bottom_js.html %}
  </body>
</html>
