---
layout: default
title: Events
---
<ul class="no-bullet post-list">
{% assign sorted_events = site.categories.events | sort: 'event_date', 'first' %}
{% for event in sorted_events %}

  {% include set_event_date event=event %}

  {% if event_date > site.time %}
    <li>
        <h2 class="post-title"><a href="{{ event.url }}">{{event.title}}</a></h2>
        <p class="post-byline">{{ event_date | date: "%A, %B %d - %I:%M %p" }}</p>
        <p class="post-excerpt">
          {{ event.excerpt }}
        </p>
    </li>
  {% endif %}
{% endfor %}
</ul>
<div>
  <p class="left"><a href="/events/previous/">View Previous Events</a></p>
  <p class="right"><a href="/events/feed.xml"><i class="fi-rss"></i></a></p>
</div>
