---
layout: default
title: Events
---
{% for event in site.categories.events reversed%} 
  {% if event.date > site.time %}
    <div class="row">
      <div class="twelve columns">
        <h3>{{ event.date | date: "%A, %B %d - %I:%M %p" }} - <a href="{{ event.url }}">{{event.title}}</a></h3>
        {{ event.excerpt }}
      </div>
    </div>
  {% endif %}
{% endfor %}
<div class="row">
  <div class="twelve columns">
    <p><a href="/events/previous/">View Previous Events</a></p>
  </div>
</div>
