---
layout: default
title: Events
---
<ul class="no-bullet post-list">
{% for event in site.categories.events %} 
  {% if event.date < site.time %}
    <li>
        <h2 class="post-title"><a href="{{ event.url }}">{{event.title}}</a></h2>
        <p class="post-byline">{{ event.date | date: "%A, %B %d - %I:%M %p" }}</p>
        <p class="post-excerpt">
          {{ event.excerpt }}
        </p>
    </li>
  {% endif %}
{% endfor %}
</ul>
<div>
  <p class="left"><a href="/events/">View Upcoming Events</a></p>
  <p class="right"><a href="/events/feed.xml"><i class="fi-rss"></i></a></p>
</div>
